.cartitems {
    margin: 100px 170px;
    color: #000000;
}
.cartitems hr {
    height: 3px;
    background: #050505;
    border: 0;
}
body, html {
    margin: 0 ;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.cartitems-format-main {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    gap: 80px;
    padding: 20px 0px;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
}
.cartitems-format-main p {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    color: #000000; /* Ensure all text in <p> is black */
}

.cartitems-format {
    font-size: 17px;
    font-weight: 500;
    color: #000000
}

.carticon-product-icon {
    height: 62px;
    width: 62px;
    object-fit: cover;
}

.cartitems-remove-icon {
    width: 15px;
    cursor: pointer;
}

.cartitems-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartitems-quantity button {
    width: 30px;
    height: 30px;
    border: 1px solid #e0e0e0;
    background: #ffffff;
    cursor: pointer;
    font-size: 18px;
}

.cartitems-quantity p {
    width: 30px;
    text-align: center;
    margin: 0 10px;
}

.cartitems-down {
    display: flex;
    margin: 100px 0px;
}

.cartitems-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
    color: #000000;
}

.cartitems-total-item p,
.cartitems-total-item h3 {
    color: #000000; /* Specifically targets text in Subtotal, Total, Shipping Fee */
    font-weight: 600;
    flex: 1;
    flex-direction: column;
    margin-right: 200px;
    display: flex;
    font-size: 18px;

}

.cartitems-total-item {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

.cartitems-total button {
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

