/* PC (Desktop) Version */
.hero {
  display: flex;
    justify-content: center;
    align-items: center;

    margin-top: -115px;
    width: 100%; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    overflow: hidden; /* Prevent scrolling */
    box-sizing: border-box; /* Include padding and borders in the total width/height */
  
}

.hero-image {
  width: 100vw; /* Full width */
  max-height: 500px; /* Limit height */
  /* object-fit: cover;  Maintain aspect ratio */
  margin-left: 10px;
  margin-bottom: 30px; /* Space below the hero image */
  height: 400px;
}



.Bestseller {
  display: flex;
  justify-content: left; 
  align-items: center; 
  margin-top: 20px; 
  width: 105%; 
  margin-bottom: -50px;
}

.bestseller-image {
  width: 350px;  
  border-radius: 8px; 
  object-fit: cover; 
  margin-top: -165px;
  height:200px;

}



.item-actions1 {
  display: flex;
  gap: 10px; /* Creates a gap between the buttons */
  margin-top: 10px;
  width: 100%;
}


.item-box1 {
  background: linear-gradient(85deg,#ffffff,#ffffff);
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 375px;
  padding: 7px;
  margin: 5px;
  text-align: left;
  display: flex;
  align-items: center;
}

.item-image1 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
  border: 2px solid #ddd;
  flex-shrink: 0;
}

.item-details1 {
  flex-grow: 1;
}

.item-details1 h3 {
  font-size: 1.1rem;
  margin: 0 0 10px 0;
}

.item-details1 p {
  color: #000000;
  font-weight: 600;
  font-size: 0.9rem;
  margin: 5px 0;
}

.item-price1 {
  font-weight: bold;
  color: #333;
  margin: 10px 0;
  font-size: 1.1rem;
}
