
.background-drinks  {
  background-image: url('../assets/drinks.webp'); /* Replace with actual path */
  background-position: center 0px;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex; /* Optional: Flex for aligning content */
  align-items: flex-start; /* Optional: Content alignment */
  padding-top: 0; /* Remove any padding */
}

.background-aboutus {
  background-color: #f0f0f0;
  min-height: 100vh;
}



.background-default {
  background-color: #ffffff; /* Default background color */
  min-height: 100vh;
}

.background-foods  {
  background-image: url('../assets/drinks.webp'); /* Replace with actual path */
  background-position: center 0px;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex; /* Optional: Flex for aligning content */
  align-items: flex-start; /* Optional: Content alignment */
  padding-top: 0; /* Remove any padding */
}



@media (max-width: 768px) {
  .background-foods {
      background-size: contain; /* Adjust for smaller screens */
      background-attachment: scroll;
  }

  .background-drinks {
    background-size: contain; /* Adjust for smaller screens */
    background-attachment: scroll;
}

.background-aboutus {
  background-size: contain; /* Adjust for smaller screens */
  background-attachment: scroll;
}
.background-default {
background-size: contain; /* Adjust for smaller screens */
background-attachment: scroll;
}
}